<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flash_messages</title>
    <style>
        ul{
            list-style: none;
        }
        .error{
        background: #f2eeee;
        color: red;
        padding: 10px;
        font-weight: bold;
      }

.info{
  background: blue;
  padding: 10px; 
  font-weight: bold;
}

.success{
  background: green;
  padding: 10px; 
  font-weight: bold;
}

    </style>
</head>